<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.GuestDAO">
	<select id="getGuestList" resultType="com.spring.javawspring.vo.GuestVO">
		SELECT * FROM guest2 
		ORDER BY idx DESC
		LIMIT #{startIndexNo}, #{pageSize}
	</select>
	
	<select id="getTotRecordCnt" resultType="int">
		SELECT COUNT(*) FROM guest2;
		
	</select>
	
	<!-- ********************* -->
	
	<insert id="setGuestInput">
		INSERT INTO guest2 (idx, name, email, homePage, visitDate, hostIp, content)
		VALUES (DEFAULT, #{vo.name},#{vo.email},#{vo.homePage},DEFAULT,#{vo.hostIp},#{vo.content});		
	</insert>
	
	<!-- ********************* -->

	<delete id="setGuestDelete">
		DELETE FROM guest2 
		WHERE idx = #{idx};
	</delete>
</mapper>